*{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  .container1{
    display: flex;
    height: 100vh;

  }
  
  main{
    width: 100%;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 0px;
    overflow-y: scroll;
  }
  
  .sidebar{
    /* background: black; */
    /* color: rgb(0, 0, 0); */
    width: 300px;
    transition: all 0.5s;
  }
  
  .top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
  }
  
  .logo{
    font-size: 25px;
  }
  
  .bars{
    display: flex;
    margin-left: 40px;
    font-size: 25px;
  }
  
  .link{
    display: flex;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
  }
  
  .link:hover{
    background: rgb(53, 105, 248);
    color: rgb(255, 255, 255);
    transition: all 0.5s;
  }
  
  .active{
    background: rgb(53, 105, 248);
    color: rgb(255, 255, 255);
  }
  
  .icon, .link_text{
    font-size: 20px;
  }